/* Color Theme Swatches in Hex */
body {
  background-color: #fcfcfc; }

#channelList {
  margin: 20px 0 20px 0px;
  min-height: 150px;
  max-height: 150px;
  overflow: auto; }

.bottom-nav {
  padding: 0px !important;
  border-radius: 0%;
  margin-left: 0px;
  margin-right: 0px; }
  .bottom-nav #messageChannelInput {
    height: 50px;
    max-height: 120px; }

.btn-outline-primary {
  color: #F2CB07;
  border-color: #F2CB07; }
  .btn-outline-primary:hover, .btn-outline-primary:active {
    color: #06080D !important;
    background-color: #F2CB07 !important;
    border-color: #F2CB07 !important; }

.btn-secondary {
  color: #F2CB07;
  background-color: #D9435F;
  border-color: #F2CB07; }
  .btn-secondary:hover, .btn-secondary:active {
    color: #06080D !important;
    background-color: #F2CB07 !important;
    border-color: #F2CB07 !important; }

.navbar-reddish {
  background-color: #D9435F !important; }
  .navbar-reddish .navbar-brand, .navbar-reddish:focus, .navbar-reddish:hover {
    color: #F2CB07; }

.delete-button {
  background: transparent;
  border: none;
  color: #E30712; }

@media (max-width: 575.98px) {
  #exit span {
    display: none; }
  #exit::after {
    content: '\2715'; }
  #selectChannel span {
    display: none; }
  #selectChannel::after {
    content: '\266F'; } }

.modal-content {
  background-color: #f8f9fa; }
  .modal-content .modal-header {
    background-color: #D9435F;
    color: #F2CB07;
    border-bottom: 0px !important; }
  .modal-content .modal-body {
    background-color: #f8f9fa; }
  .modal-content .modal-footer {
    border-top: 0px !important; }

#chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 80px;
  position: sticky;
  overflow: scroll;
  overflow: hidden; }
  #chat .messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column; }
  #chat .message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block; }
  #chat .otheruser {
    align-items: flex-start; }
  #chat .otheruser .message {
    color: #06080D;
    margin-right: 25%;
    background-color: #eee;
    position: relative; }
  #chat .thisuser {
    align-items: flex-end; }
  #chat .thisuser .message {
    color: #fff;
    margin-left: 25%;
    background: linear-gradient(to bottom, #72F2F2 0%, #06080D 100%);
    background-attachment: fixed;
    position: relative; }
  #chat .usernameDate {
    font-size: 0.7rem;
    color: #D9435F; }
    #chat .usernameDate .username::after {
      content: ', \00a0'; }
