body {
    background-color: #fcfcfc;
    }

#channelList {
    margin: 20px 0 20px 0px;
    min-height: 150px;
    max-height: 150px;
    overflow: auto;
}

.bottom-nav {
    padding: 0px !important; 
    border-radius: 0%; 
    margin-left: 0px;
    margin-right: 0px;

    #messageChannelInput {
        height: 50px;
        max-height: 120px;
    }
}
//buttons + colors
.btn-outline-primary {
color: $yellowish;
border-color: $yellowish;
&:hover, &:active {
    color: $blackish !important;
    background-color: $yellowish !important;
    border-color: $yellowish !important;
    }
}

.btn-secondary {
color: $yellowish;
background-color: $reddish;
border-color: $yellowish;
&:hover, &:active {
    color: $blackish !important;
    background-color: $yellowish !important;
    border-color: $yellowish !important;
    }
}

.navbar-reddish {
    background-color: $reddish !important;
    .navbar-brand, &:focus, &:hover {
        color: $yellowish;
        }
}
.delete-button {
    background: transparent;
    border: none;
    color: #E30712;
}
@media (max-width: 575.98px) { 
    #exit {
        span {
            display: none;
        }
        &::after {
            content: '\2715';
        }
        
    }
    #selectChannel {
        span {
            display: none;
        }
        &::after {
            content: '\266F';
        }
    }
 }
//Modal Colors
.modal-content {
    background-color: #f8f9fa;

        .modal-header {
            background-color: $reddish;
            color: $yellowish;
            border-bottom: 0px !important;
        }
        .modal-body {
            background-color: #f8f9fa;
        }

        .modal-footer {
            border-top: 0px !important;
        }
}
// message bubbles 
  #chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 80px;
    position: sticky;
    overflow: scroll;
    overflow: hidden;
        .messages {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
        }
        
        .message {
            border-radius: 20px;
            padding: 8px 15px;
            margin-top: 5px;
            margin-bottom: 5px;
            display: inline-block;
        }
        
        .otheruser {
            align-items: flex-start;
        }
        
        .otheruser .message {
            color: $blackish;
            margin-right: 25%;
            background-color: #eee;
            position: relative;
        }
        
        .thisuser {
            align-items: flex-end;
        }
        
        .thisuser .message { 
            color: #fff;
            margin-left: 25%;
            background: linear-gradient(to bottom, $blueish 0%, $blackish 100%);
            background-attachment: fixed;
            position: relative;
        }
        
        .usernameDate {
            font-size: 0.7rem;
            color: $reddish;
            .username::after {
                content: ', \00a0';

            }
        }
}
