#leftColumn {
    background: $darkblue;
    border-radius: 10px 0px 0px 10px;
    min-height: 500px;
    padding-top: 22px;
    color: $light;
}

#rightColumn {
    background: $light;
    border-radius: 0px 10px 10px 0px;
    min-height: 500px;
    padding-top: 22px;
    color: $dark;
}

@media (min-width: 768px) {
    #chatcenter{
        padding: 50px 10px 50px 10px;
       
    }
}

#chatcenter{
    padding: 50px 50px 50px 50px;
   
}
.chatbox {
    border: 1px solid $light;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
    min-height: 500px;
    max-height: 500px;


}

.bottom {
    position: absolute;
    bottom: 22px;
    border-radius: 10px;
    max-width: 400px;
}

ul {
    list-style-type: none; 
}

#channelList {
    margin: 20px 0 20px 0px;
    min-height: 150px;
    max-height: 150px;
    overflow: auto;
}

.bottom-nav {
    padding: 0px !important; 
    border-radius: 0%; 
    margin-left: 0px;
    margin-right: 0px;

    #messageChannelInput {
        height: 50px;
        max-height: 120px;
    }
}

// message bubbles




 
  #chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 80px;
    position: sticky;
    overflow: scroll;
    overflow: hidden;
        .messages {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
        }
        
        .message {
            border-radius: 20px;
            padding: 8px 15px;
            margin-top: 5px;
            margin-bottom: 5px;
            display: inline-block;
        }
        
        .otheruser {
            align-items: flex-start;
        }
        
        .otheruser .message {
            margin-right: 25%;
            background-color: #eee;
            position: relative;
        }
        
        .thisuser {
            align-items: flex-end;
        }
        
        .thisuser .message {
            color: white;
            margin-left: 25%;
            background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
            background-attachment: fixed;
            position: relative;
        }
        
        .usernameDate {
            font-size: 0.7rem;
            color: #8C8C8C;
            .username::after {
                content: ', \00a0';

            }
        }
    
}
